@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.NavBar, .NavLinks a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.NavBar {
    font-family: "Jersey 15", sans-serif;
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(30, 34, 45, 0.9); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}

.NavLinks {
    display: flex;
    gap: 1.8em;
    margin-right: 60px; 
}

.button-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    background-color: #d32174;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-size: 1.3em;
    transition: opacity 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}

.button-metaverse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    background-color: #d32174;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-size: 1.3em;
    transition: opacity 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}

.button-pub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 35px;
    background-color: #d32174;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-size: 1.3em;
    transition: opacity 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}

.button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    background-color: #d32174;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    font-size: 1.3em;
    transition: opacity 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}

.NavLinks a, .NavLinks button {
    font-size: 1.3em;
    color: #d32174;
    text-decoration: none;
    transition: opacity 0.1s ease;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.NavLinks a:hover, .NavLinks a:focus, .NavLinks button:hover, .NavLinks button:focus {
    opacity: 0.9;
}

.SecondNavLinks {
    display: flex;
    gap: 1em;
    margin-right: 200px;
}
